@import "./responsive.scss";
.layout{
    height: 100vh;
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg{
        background-color: chartreuse;
    }

    @include md{
        background-color: darkorange;
    }

    @include sm{
        background-color: red;
    }
}

