@import "../../responsive.scss";
.menuBtn {
.categories{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;

    @include sm{
      display: none;
    }

    @include md{
      display: none;
    }
    
    .img{
        width: 30px;
        height: 22px;
        margin-left: 5px;
      }
}
}
