.title{
    display: flex;
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .category-image {
    width: 100%; /* Ensure the image takes up space */
    height: auto;
    object-fit: cover; /* Ensure the image fits within its container */
  }
  